<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Jugador - Impostors</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <h1>Unirse a partida</h1>
    <input type="text" id="nombreJugador" placeholder="Tu nombre">
    <input type="text" id="codigoPartida" placeholder="Código de partida">
    <button id="btnUnirse">Unirse</button>
    <p id="mensaje"></p>

    <script src="/static/script.js"></script>
</body>
</html>
